 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dbd5869c461b14f0da7629779af9a00d7aef3ce30fb87ad9a1a06c128cab977d8ef6684de45a1a863b3e89ea7a801cf32bc2a9161613b3839fb6fe_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 348px;
}

.u-section-1 .u-text-1 {
  font-size: 2.3rem;
  margin: 175px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 7px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: 118px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Aclonica;
  width: 639px;
  margin: 17px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 31px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 745px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/d9c6d76346b85c172500e10e21392e518bececcc32b5494f0dabb7ce2c2db8fd3cd2ab8aa2fe3e03a69dda96676ae18faf41d496254a66b9ac4c1f_1280.jpg");
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-text-2 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/272253906-0.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-text-3 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/1d9cc3d745140f1d351297d614ac1b19277d0261c882195a0a53ef8d974f5cd10859afa294a4667b339148dd1ab14ab060f6d8955c0c99360f570c_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-text-4 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-4 {
  background-image: url("images/92e7d13e115ca5378bb08cb035ca4f375f8dba1873645d240c805d780595d4173f9d3204987dbe4eb0cd9271434748ddce5a7fea2ebc5fee50242a_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-text-5 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-5 {
  background-image: url("images/a901f2e3aff4bb33371e70734ed32a6e9dc5a5775af3f9c51f7d4375cf59af653ff76aa6593bc0863a15c1b51514592c5d4a2fb42f573fb161e7da_1280.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-text-6 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-6 {
  background-image: url("images/20750a777feeac618662e35ecbe49ac1b786b66aae3931248b48d840387edb3e10349edb6ac9724b5d0aacf43a1488c4b56aa1ca5359507d7b3258_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-text-7 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-7 {
  background-image: url("images/d297d6008cc21898652ddfc6b2d8b665fa4b8e7446d9834b4b310a7d4f1b80fc2d0febe2b77a8161a580b6406607089957d33cc5ad882fc8901b07_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-text-8 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-8 {
  background-image: url("images/ba6b4ddceda3ca919fe9b03a9520e714255f5ac0cd1df628537011128c10c24a8c0f22a64148e91492d60352f24e2d2a9fb645d6f79dfaec7bed9f_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-text-9 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-9 {
  background-image: url("images/0404c074d84c6d52b842b19a746521f2bedbdc0144497c87b9488d4521cbad30b90bc6457b53724cb7e7065305f0b8dac0ae6fabfcaf27fbfb4018_1280.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-2 .u-text-10 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-10 {
  background-image: url("images/9f036eb90dcf2c2098761eecb0b135b4338b1693601bba63f2823bc5888310c6fb980200d3930bb980b85e5ac9a93446d97355fe466e23f11baba8_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-2 .u-text-11 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-11 {
  background-image: url("images/d3c8dd0231ad6f90904d0bbd600c1375e6890f980125705599d2b03feb446fc560bebdc81530d4b3c0de7ea15c0e2e6b70f35031924f41c9a5147b_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-2 .u-text-12 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

.u-section-2 .u-image-12 {
  background-image: url("images/7030e4c020daa9357b5a495938b420fa066a103df8483dc4ee222c0167ab52edbd2fbb96b15febadb8b0cd918e0c988c44e5d8eaaf3ad8f53b3b37_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-2 .u-text-13 {
  font-family: Aclonica;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 55px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 614px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1058px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 251px;
    margin-top: 17px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1040px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 29px;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-6.u-text-6.u-text-6:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-6.u-text-6.u-text-6.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-7.u-text-7.u-text-7:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-7.u-text-7.u-text-7.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-8,
.u-section-2 .u-text-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-8.u-text-8.u-text-8:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-8.u-text-8.u-text-8.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-9,
.u-section-2 .u-text-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-9.u-text-9.u-text-9:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-9.u-text-9.u-text-9.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-10,
.u-section-2 .u-text-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-10.u-text-10.u-text-10:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-10.u-text-10.u-text-10.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-11.u-text-11.u-text-11:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-11.u-text-11.u-text-11.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-12,
.u-section-2 .u-text-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-12.u-text-12.u-text-12:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-12.u-text-12.u-text-12.hover {
  color: #db545a !important;
}

.u-section-2 .u-text-13,
.u-section-2 .u-text-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-13.u-text-13.u-text-13:hover {
  color: #db545a !important;
}

.u-section-2 .u-text-13.u-text-13.u-text-13.hover {
  color: #db545a !important;
}