 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/046aeeb1e8152a001e40ee1f759fd5dd947ce1a6a291b0488d4fa038f41217167604e0c9524e90c55f3757e79b90b850322cdf75069a3da8c896a9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-text-1 {
  margin: 216px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

.u-section-2 .u-text-1 {
  margin: 43px 781px 0 18px;
}

.u-section-2 .u-list-1 {
  width: 1082px;
  margin: 30px 18px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 463px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-4 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-5 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-6 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-7 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

.u-section-2 .u-list-item-8 {
  transition-duration: 1.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#1a1a1a, #555c66);
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 8px auto 0 63px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-8 {
  width: 27px;
  height: 27px;
  margin: -27px auto 1px 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 599px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -18px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 379px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 199px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-7,
.u-section-2 .u-list-item-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-8,
.u-section-2 .u-list-item-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}